/* MEDIA QUERIES */

/* For screens up to 1400px */
@media screen and (max-width: 1400px) {
  #desktop-nav {
    display: flex;
  }
}

/* For screens up to 1200px */
@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: flex;
  }
  
  #profile,
  .section-container {
    display: block;
  }
  
  .arrow {
    display: none;
  }
  
  section,
  .section-container {
    height: fit-content;
  }
  .section__pic-container {
    width: 520px;
    height: 520px;
    margin: 0 auto 2rem;
  }
  #projects {
    padding-top: 7rem;
    padding-bottom: 7rem; /* Ensure there's some space around */
  }
  .project-video {
    height: fit-content; /* Adjust the height as needed */
  }

  .project-title {
    font-size: 1.8rem; /* Adjust the title font size for smaller screens */
  }
}

/* For screens up to 800px */
@media screen and (max-width: 800px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  #profile {
    height: 100vh; /* Full viewport height */
    margin-bottom: 7rem; /* Adjust as needed */
  }
  
  #contact,
  footer {
    height: 40vh;
  }
  
  article {
    font-size: 1rem;
  }
  
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  
  .btn-container {
    flex-wrap: wrap;
  }
  
  .contact-info-container {
    margin: 0;
  }
  
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  
  .nav-links {
    gap: 0.5rem;
    text-align: center;
  }
  
  .section__pic-container {
    width: auto;
    height: 80vw;
    justify-content: center;
  }
  
  .section__text__p2 {
    font-size: 1.25rem;
  }
  
  .title {
    font-size: 2rem;
  }
  
  .text-container {
    text-align: justify;
  }
  
  /* New rules for project videos */
  #projects {
    padding-top: 5rem; /* Ensure there's some space around */
  }

  .project-grid {
    grid-template-columns: 1fr; /* Stack items in a single column */
    gap: 0rem; /* Space between items */
  }

  .project-video {
    height: fit-content; /* Adjust the height as needed */
  }

  .project-title {
    font-size: 2.5rem; /* Adjust the title font size for smaller screens */
  }

}

