/* MEDIA QUERIES */

/* For screens up to 1400px */
@media screen and (max-width: 1400px) {
  #desktop-nav {
    display: -webkit-flex; /* Safari */
    display: -moz-flex; /* Firefox */
    display: flex;
  }
}


/* For screens up to 1200px */
@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
  }

  .arrow {
    display: none;
  }

  #projects {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .project-video {
    height: auto;
  }
}

/* For screens up to 800px */
@media screen and (max-width: 800px) {
  #desktop-nav {
    display: none;
  }
  
  #hamburger-nav {
    display: flex;
  }

  #profile {
    height: 100vh;
  }

  #profile .title {
    font-size: 7rem;
  }

  .eye {
    width: 80px;
    height: 80px;
    top: -5px;
    left: 1px;
  }

  .iris {
    width: 50px;
    height: 50px;
  }

  .last-name .line {
    width: 170px;
    height: 15px;
    left: -190px;
    top: 50%;
  }

  #skills {
    position: relative;
    z-index: 2;
    scroll-margin-top: 50px;
  }

  .skills-container {
    margin-top: 200px;
  }


  .skills-title {
    font-size: 50px;
    margin-bottom: 20px;
    z-index: 1;
  }

  .floating-icon {
    width: 80px;
    height: 80px;
  }

  .icon-1 { top: 150%; left: 15%; filter: drop-shadow(0 0 20px rgba(109, 177, 255, 0.682)); }
  .icon-2 { top: 300%; right: 20%; filter: drop-shadow(0 0 20px rgba(148, 112, 255, 0.71)); }
  .icon-4 { bottom: 200%; right: 15%; filter: drop-shadow(0 0 20px rgba(222, 222, 222, 0.727)); }
  .icon-5 { top: 320%; left: 40%; filter: drop-shadow(0 0 20px rgba(97, 192, 255, 0.767)); }
  .icon-6 { top: 20%; right: 10%; filter: drop-shadow(0 0 20px rgba(116, 98, 255, 0.745)); }
  .icon-7 { bottom: 250%; left: 37%; filter: drop-shadow(0 0 20px rgba(112, 99, 255, 0.8)); }


  .short-films-title {
    font-size: 30px;
    top: 40%; /* Adjust to position between the videos */
  }

}