/* MEDIA QUERIES */

/* For screens up to 1400px */
@media screen and (max-width: 1400px) {
  #desktop-nav {
    display: -webkit-flex; /* Safari */
    display: -moz-flex; /* Firefox */
    display: flex;
  }
}


/* For screens up to 1200px */
@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
  }

  .arrow {
    display: none;
  }

  #projects {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .project-video {
    height: auto;
  }
}

/* For screens up to 700px */
@media screen and (max-width: 700px) {
  #desktop-nav {
    display: none;
  }
  
  #hamburger-nav {
    display: flex;
  }

  #profile {
    height: 100vh;
  }

  #profile .title {
    font-size: 6rem;
  }

  .eye {
    width: 70px;
    height: 70px;
    top: 1px;
    left: 5px;
  }

  .iris {
    width: 40px;
    height: 40px;
    top: 20%;  /* Center vertically */
    left: 20%; /* Center horizontally */
  }

  .last-name .line {
    width: 140px;
    height: 15px;
    left: -160px;
    top: 50%;
  }

    .dive-in {
      bottom: 100px; /* Adjust the distance from the bottom */
    }


  #skills {
    position: relative;
    z-index: 0;
    scroll-margin-top: 50px;
    margin-bottom: -280px;
  }

  .skills-container {
    margin-top: 200px;
  }


  .skills-title {
    font-size: 37px;
    margin-bottom: 20px;
    z-index: 1;
  }

  .floating-icon {
    width: 80px;
    height: 80px;
  }

  .icon-1 { top: 150%; left: 12%; filter: drop-shadow(0 0 20px rgba(109, 177, 255, 0.682)); }
  .icon-2 { top: 300%; right: 15%; filter: drop-shadow(0 0 20px rgba(148, 112, 255, 0.71)); }
  .icon-4 { bottom: 200%; right: 15%; filter: drop-shadow(0 0 20px rgba(222, 222, 222, 0.727)); }
  .icon-5 { top: 320%; left: 37%; filter: drop-shadow(0 0 20px rgba(97, 192, 255, 0.767)); }
  .icon-6 { top: 20%; right: 10%; filter: drop-shadow(0 0 20px rgba(116, 98, 255, 0.745)); }
  .icon-7 { bottom: 250%; left: 37%; filter: drop-shadow(0 0 20px rgba(112, 99, 255, 0.8)); }


  .short-films-title {
    font-size: 30px;
    top: 40%; /* Adjust to position between the videos */
    text-shadow: 0 0 10px #000000; 
  }



  .experimental-title {
    font-size: 30px;
    text-shadow: 0 0 10px #000000; 
  }

  .commercials-title {
    font-size: 30px;
  }

  .video3 {
    width: 40%; /* Keep a balanced size for experimental video */
    height: auto;
    position: relative; /* To position the title over it */
  }


}


/* For screens up to 400px */
@media screen and (max-width: 400px) {
  #profile .title {
    font-size: 5rem;
  }

  .eye {
    width: 60px;
    height: 60px;
    top: 1px;
    left: 8px;
  }

  .iris {
    width: 35px;
    height: 35px;
    top: 20%;  /* Center vertically */
    left: 20%; /* Center horizontally */
  }

  .last-name .line {
    width: 110px;
    height: 15px;
    left: -130px;
    top: 50%;
  }

  .short-films-title {
    font-size: 20px;
  }
  .experimental-title {
    font-size: 20px;
    text-shadow: 0 0 10px #000000; 
  }

  .commercials-title {
    font-size: 20px;
    top: -20px;
  }
}