/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}


/* Keyframes for spinner animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 300;
  background-color: rgb(255, 255, 255);
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%; /* Keep original width */
  height: 100%; /* Keep original height */
  object-fit: cover; 
  transform: translate(-50%, -50%);
}
.enter-text {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  z-index: 1;
  display: inline-block;
}

.enter-text span {
  transition: text-shadow 0.3s ease, color 0.3s ease;
}

.enter-text span:nth-child(1) {
  color: red;
}

.enter-text span:nth-child(2) {
  color: rgb(255, 179, 0);
}

.enter-text span:nth-child(3) {
  color: rgb(210, 133, 235);
}

.enter-text span:nth-child(4) {
  color: rgb(117, 199, 70);
}

.enter-text span:nth-child(5) {
  color: rgb(110, 221, 246);
}

/* When hovering over the text, apply glow to all spans */
.enter-text:hover span {
  animation: glow 1.5s infinite alternate;
}

.enter-text:hover span:nth-child(1) {
  text-shadow: 0 0 5px red, 0 0 10px red, 0 0 20px red; /* Stronger text shadow */
}

.enter-text:hover span:nth-child(2) {
  text-shadow: 0 0 5px rgb(255, 179, 0), 0 0 10px rgb(255, 179, 0), 0 0 20px rgb(255, 179, 0);
}

.enter-text:hover span:nth-child(3) {
  text-shadow: 0 0 5px rgb(210, 133, 235), 0 0 10px rgb(210, 133, 235), 0 0 20px rgb(210, 133, 235);
}

.enter-text:hover span:nth-child(4) {
  text-shadow: 0 0 5px rgb(117, 199, 70), 0 0 10px rgb(117, 199, 70), 0 0 20px rgb(117, 199, 70);
}

.enter-text:hover span:nth-child(5) {
  text-shadow: 0 0 5px rgb(110, 221, 246), 0 0 10px rgb(110, 221, 246), 0 0 20px rgb(110, 221, 246);
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px; /* Start with a soft glow */
  }
  100% {
    text-shadow: 0 0 20px; /* End with a stronger glow */
  }
}



.video-container {
  perspective: 1000px; /* Controls the depth of the 3D effect */
  width: 60%; /* Adjust width of the container */
  margin: 0 auto; /* Center the container */
  z-index: 3;
}

.video-element {
  width: 100%;
  transform: rotateY(20deg); /* Tilt the video on the Y-axis */
  transition: transform 0.5s ease-in-out; /* Smooth transformation */
}

.video-container:hover .video-element {
  transform: rotateY(0deg); /* Reset the tilt on hover */
}




